{% extends 'base.html' %}
{% load static %}

{% block meta %}

{% endblock %}
{% block content %}
  <div class="container mt-5">
    <h1 class="fw-bold">Daftar Lagu pada {{ album_title }}</h1>
    <table class="table mt-3">
      <thead>
        <tr>
          <th scope="col">Judul</th>
          <th scope="col">Durasi</th>
          <th scope="col">Total Play</th>
          <th scope="col">Total Download</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for song in songs %}
          <tr>
            <td>{{ song.judul }}</td>
            <td>{{ song.durasi }}</td>
            <td>{{ song.total_play }}</td>
            <td>{{ song.total_download }}</td>
            <td>
              <a href="" class="btn btn-primary btn-sm">Lihat Detail</a>
              <a href="" class="btn btn-danger btn-sm">Hapus</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
