{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        {% block meta %}
        {% endblock meta %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+J4jsl5c9zdLKaUk5Ae5f5b1bw6AUn5f5v8FZJoMxm6f5cH1" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
        <style>
            .nav-item:not(:last-child) {
              margin-right: 15px;
            }
          </style>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">
                <i class="bi bi-music-note-list"></i>
                Marmut
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto" id="navbarLinks"></ul>
              </div>
            </div>
          </nav>
      
          <script>
            // Temporary User Data
            const user = {
              isLoggedIn: true,
              role: 'Label',
              isPremium: false
            }
            
            const navbarLinks = document.getElementById('navbarLinks')
            
            function setupNavbar() {
              let links = []
            
              if (user.isLoggedIn) {
                links.push('<li class="nav-item"><a class="nav-link" href="#">Dashboard</a></li>')
                links.push('<li class="nav-item"><a class="nav-link" href="/chart/">Chart</a></li>')
                links.push('<li class="nav-item"><a class="nav-link" href="/list_podcasts/">Podcast</a></li>')
                links.push('<li class="nav-item"><a class="nav-link" href="#">Search Bar</a></li>')
                links.push('<li class="nav-item"><a class="nav-link" href="#">Kelola Playlist</a></li>')
                
                if (!user.isPremium) {
                  links.push('<li class="nav-item"><a class="nav-link" href="#">Langganan Paket</a></li>')
                }
                if (user.role === 'Podcaster') {
                  links.push('<li class="nav-item"><a class="nav-link" href="create_podcast/">Kelola Podcast</a></li>')
                }
                if (user.role === 'Artist' || user.role === 'Songwriter') {
                  links.push('<li class="nav-item"><a class="nav-link" href="#">Kelola Album & Songs</a></li>')
                }
                if (user.role === 'Label') {
                  links.push('<li class="nav-item"><a class="nav-link" href="#">Kelola Album</a></li>')
                }
                if (user.role === 'Artist' || user.role === 'Songwriter' || user.role === 'Label') {
                  links.push('<li class="nav-item"><a class="nav-link" href="#">Cek Royalti</a></li>')
                }
                if (user.isPremium) {
                  links.push('<li class="nav-item"><a class="nav-link" href="#">Kelola Downloaded Songs</a></li>')
                }
                links.push('<li class="nav-item"><a class="nav-link" href="#">Logout</a></li>')
              } else {
                links.push('<li class="nav-item"><a class="nav-link" href="#">Login</a></li>')
                links.push('<li class="nav-item"><a class="nav-link" href="#">Registrasi</a></li>')
              }
            
              navbarLinks.innerHTML = links.join('')
            }
            
            setupNavbar()
          </script>
      
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>      
        
          {% block content %}
        {% endblock content %}
    </body>
</html>
