{% extends 'base.html' %}
{% load static %}

{% block meta %}
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card p-4 shadow-lg">
        <div class="text-center mb-4">
            <h2>RIWAYAT TRANSAKSI PAKET</h2>
        </div>
        {% if riwayat %}
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Jenis</th>
                            <th scope="col">Tanggal Dimulai</th>
                            <th scope="col">Tanggal Berakhir</th>
                            <th scope="col">Metode Pembayaran</th>
                            <th scope="col">Nominal</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for riwayat in riwayat %}
                            <tr>
                                <td>{{ riwayat.jenis_paket }}</td>
                                <td>{{ riwayat.timestamp_dimulai }}</td>
                                <td>{{ riwayat.timestamp_berakhir }}</td>
                                <td>{{ riwayat.metode_bayar }}</td>
                                <td>{{ riwayat.nominal }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="text-center">
                <p>Anda belum pernah berlangganan</p>
            </div>
        {% endif %}
        <div class="text-center mt-4">
            <a class="btn btn-secondary" href="{% url 'yellow:langganan_paket' %}">Kembali</a>
        </div>
    </div>
</div>
{% endblock %}
